h1{
    margin: 0;
}

.acoes-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#btn-cadastrar{
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

#btn-cadastrar:hover{
    background-color: var(--secondary-color);
}

.pesquisa-container{
    display: flex;
    gap:4px;
    width: 80%;
}

input{
    width: 100%;
}