html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --bg-color: #fff;
  --primary-color: #f7941d;
  --secondary-color: #004587;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--primary-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

a{
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: bold;
  border: none;
  transition: all 0.3s;
  text-decoration: none;
  display: flex;
  align-items: center;
}

a:hover{
  color: var(--primary-color);
  text-decoration: none;
}

.a-active{
  cursor: pointer;
  color: var(--primary-color);
  text-decoration: none;
}

.container{
  display: flex;
  flex-direction: column;
  width: inherit;
}

.page-header{
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  width: inherit;
  width: 100%;
  padding: 0 20%;
  background-color: var(--bg-color);
  padding-top:20px;
}


.page-title{
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  gap: 0.6rem;
}


input{
  padding: 10px;
  border-radius: 4px;
  border: 2px solid var(--secondary-color);
  background-color: var(--bg-color);
  color: var(--secondary-color);
  font-size: 1rem;
  box-shadow: none;
}

input:focus-visible{
  border: 2px solid var(--primary-color);
  box-shadow: none;
  outline: none;
}

button{
  padding: 10px;
  border-radius: 4px;
  border: none;
  background-color: var(--secondary-color);
  /* color: var(--secondary-color); */
  font-size: 1rem;
  font-weight: bold;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover{
  background-color: var(--primary-color);
  color: var(--bg-color);
}

.container nav{
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 20px;
}

.item-menu{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  min-width: 150px;
  width: fit-content;
  align-items: center;
  border: 1px solid var(--secondary-color);
}

.item-menu:hover{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  width: fit-content;
  align-items: center;
  border: 1px solid var(--primary-color);
}

.item-menu-active{
  border: 1px solid var(--primary-color);
}

.flex{
  display: flex;
}

.itens-center{
  align-items: center;
}



